body {
    background-color: #ebebeb;
    color: blue;

}
.thingy {
    border: 20px;
    border-color: red;
    height: 10px;
    width: 100px;
    position: fixed;
    background-color: #41e057;
    right: 10px;

}